{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Top 10" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About</strong></h1>
        <h2 class="text-primary"><strong>Finn</strong></h1>
        <p class="text-secondary">I'm Finn and I like skating. I love computer science and school. I want to get into a good college when I grow up.</p>
        <img class="card-img-top" src="https://dogs.nighthawkcodingteams.cf/static/assets/FinnDog.JPG" alt="Backend and Persistence" height="250">
        <h2 class="text-primary"><strong>Jake</strong></h1>
        <p class="text-secondary">I'm Jake and I play football at Del Norte High School. I take pride in my education and making my parents proud. I love making people laugh and smile and overall like good times. </p>
        <img class="card-img-top" src="https://dogs.nighthawkcodingteams.cf/static/assets/JakeDog.JPG" alt="Backend and Persistence" height="250">
        <h2 class="text-primary"><strong>Max</strong></h1>
        <p class="text-secondary">I'm Max and I play waterpolo. I love spending time with my friends and family. Music is one of my favorite things. </p>
        <img class="card-img-top" src="https://dogs.nighthawkcodingteams.cf/static/assets/MaxDog.JPG" alt="Backend and Persistence" height="250">
        <h2 class="text-primary"><strong>Parker</strong></h1>
        <p class="text-secondary">I'm Parker and I also play football. I care about making people laugh. </p>
        <img class="card-img-top" src="https://dogs.nighthawkcodingteams.cf/static/assets/ParkerDog.JPG" alt="Backend and Persistence" height="250">
    </div>
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Why we liked this idea</strong></h1>
        <p class="text-secondary">We chose to make this website because we all enjoy music. Even though we choose to listen to different genres, we all use spotify. It is the main thing we all have in common. It also seems like a very helpful website for others. </p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}