{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Playlist Helper</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Do you need help with <mark>making your playlists</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Your in luck. Our website helps you make playlists for spotify!</li>
                            <li>We organize the artists in diffferent categories of genres. We then add 5 of the most popular songs of those artists.</li>
                            <li>There is also and image of the artist and what songs are similar to their songs. </li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How does the website work?</h5>
                    <p class="card-text">
                        <ol>
                            <li>We organize the genres in html tabs. When you click on those tabs it brings you to a page</li>
                            <li>On this page it shows a table of different artist and otganizes their song</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">About us</h5>
                    <p class="card-text">
                        <ol>
                            <li>Jake:</li>
                            <li>Finn: </li>
                            <li>Max:</li>
                            <li>Parker</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}