{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto" style="background-color: rgb(39, 39, 41)">
        <h1 class="text-white"><strong>Playlist Helper</strong></h1>
        <h2 class="text-white">An informational site about the most popular music</h2>
        <div class="row">
            <div class="col-4">
                <div class="card" style="background-color: lightgray;">
                    <img class="card-img-top" src="https://play-lh.googleusercontent.com/UrY7BAZ-XfXGpfkeWg0zCCeo-7ras4DCoRalC_WXXWTK9q5b0Iw7B0YQMsVxZaNB7DM" alt="Python Development" height="500">
                    <div class="card-body">
                    <h5 class="card-title">Do you need help with making your playlists?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Your in luck. Our website supplys information about the best music</li>
                            <li>We organize the artists in diffferent categories of genres. We then add 5 of the most popular songs of those artists.</li>
                            <li>We take the most popular songs of the month and you can contruibute on whether you like or dislike them</li>
                        </ol>
                    </p>
                    <a href="/topten" class="btn btn-primary">Top Ten</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="https://static01.nyt.com/images/2022/04/04/multimedia/15ai-nocode/15ai-nocode-mobileMasterAt3x.jpg" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How does the website work?</h5>
                    <p class="card-text">
                        <ol>
                            <li>We organize the genres in html tabs. When you click on those tabs it brings you to a page</li>
                            <li>On this page it shows a table of different artist and otganizes their song</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1522098635833-216c03d81fbe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZnJpZW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">About us</h5>
                    <p class="card-text">
                        <ol>
                            <li>Here is our about page!</li>>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}