<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Rap" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>What is Pop Music?</strong></h1>
        <p class="text-secondary">Pop music originates in the United States and the United Kingdom around the 1950s. Pop music has good rhythm and a catchy melody.</p>
        <h1 class="text-primary"><strong>Top Five Pop Artist</strong></h1>
        <h2 class="text-primary"><strong>Bruno Mars</strong></h2>
        <p class="text-secondary">Bruno Mars is one of the most popular pop artist and is compared to Michael Jackson, his music is very expansive. His early music focused on heartbreak whilst his music now focuses on happy club-ish music.</p>
        <h2 class="text-primary"><strong>Katy Perry</strong></h2>
        <p class="text-secondary">Katy Perry is very unique pop artist and has won many awards for her songs. She mostly sings about past relationships and is compared to Lady Gaga.</p>
        <h2 class="text-primary"><strong>Taylor Swift</strong></h2>
        <p class="text-secondary">Taylor Swift is one of if not the best selling artist of all time. </p>
        <h2 class="text-primary"><strong>Rihanna</strong></h2>
        <p class="text-secondary">Rihanna is a very popular pop artist. She was inspired by Janet Jackson, Madonna, and Bob Marley. She is compared to Beyonce.</p>
        <h2 class="text-primary"><strong>Ariana Grande</strong></h2>
        <p class="text-secondary">Ariana Grande rose to fame in her acting days as she joined the show "Sam and Cat" and "Victorious" she contiuned her success througn her melodical notes.</p>
    </div>
    <div class="px-5 py-5 mx-auto" style="background-color:darkcyan">
        <table>
            <tr>
                <th> </th>
                <th>Bruno Mars</th>
                <th>Katy Perry</th>
                <th>Taylor Swift</th>
                <th>Rihanna</th>
                <th>Ariana Grande</th>
                </tr>
            <tr>
                <td>1.</td>
                <td>Grenade</td>
                <td>Roar</td>
                <td>Bad Blood</td>
                <td>Don't Stop the Music</td>
                <td>7 Rings</td>
                </tr>
            <tr>
                <td>2.</td>
                <td>Talking to the Moon</td>
                <td>E.T.</td>
                <td>Look What You Made Me Do</td>
                <td>Stay</td>
                <td>Bang Bang</td>
                </tr>
            <tr>
                <td>3.</td>
                <td>Count on Me</td>
                <td>California Gurls</td>
                <td>Anti-Hero</td>
                <td>Diamonds</td>
                <td>God is a women</td>
                </tr>
            <tr>
                <td>4.</td>
                <td>When I Was Your Man</td>
                <td>Dark Horse</td>
                <td>Shake it Off</td>
                <td>Umbrella</td>
                <td>Rain On Me</td>
                </tr>
            <tr>
                <td>5.</td>
                <td>The Lazy Song</td>
                <td>Part of Me</td>
                <td>Blank Space</td>
                <td>Where Have You Been</td>
                <td>Thank U, Next</td>
                </tr>
            </table>
    </div>
    
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
