<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Rap" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Top Five Rap Artist</strong></h1>
        <h2 class="text-primary"><strong>Kendrick Lamar</strong></h2>
        <p class="text-secondary">A multi grammy winning rapper, Kendrick Lamar has some of the most intresting songs. Whether it is about his family, life, or problems, his lyrics with pull you in and you will want tos stay.</p>
        <h3 class="text-primary"><strong>Eminem</strong></h3>
        <p class="text-secondary">Eminem, a very successful rapper, has won 44 grammies. There is a movie about him called "8 Mile". His music is about his life, coming from a poor family and a violent neighborhood.</p>
        <h4 class="text-primary"><strong>Drake</strong></h4>
        <p class="text-secondary">Drake is one of the biggest rappers in the world. His has many different types of songs and lots of albums. Drake's music is mostly about his past love life.</p>
        <h5 class="text-primary"><strong>Lil Uzi Vert</strong></h5>
        <p class="text-secondary">Lil Uzi Vert, a triple grammy award winner, is a great artist and creates great songs. Influenced by the rapper Mike Jones, he has created many different great albums and singles. His songs are usually about his life through his youger years.</p>
        <h6 class="text-primary"><strong>Juice Wrld</strong></h6>
        <p class="text-secondary">Juice Wrld sadly passed away in 2020 but left a great legacy with his music. He music is mostly about his relationships and his drug addiction.</p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
