<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Rap" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Top Five Rock Artist</strong></h1>
        <h2 class="text-primary"><strong>Red Hot Chili Peppers</strong></h2>
        <p class="text-secondary"></p>
        <h2 class="text-primary"><strong>Mötley Crüe</strong></h2>
        <p class="text-secondary"></p>
        <h2 class="text-primary"><strong>AC/DC</strong></h2>
        <p class="text-secondary"></p>
        <h2 class="text-primary"><strong>Queen</strong></h2>
        <p class="text-secondary"></p>
        <h2 class="text-primary"><strong>Nirvana</strong></h2>
        <p class="text-secondary"></p>
    </div>
    <table>
        <tr>
            <th> </th>
            <th>Red Hot Chili Peppers</th>
            <th>Mötley Crüe</th>
            <th>AC/DC</th>
            <th>Queen</th>
            <th>Nirvana</th>
            </tr>
        <tr>
            <td>1.</td>
            <td>Californication</td>
            <td>Pretty Heart</td>
            <td>Chasin' You</td>
            <td>Something in the Orange</td>
            <td>When It Rains It Pours</td>
            </tr>
        <tr>
            <td>2.</td>
            <td>Under the Bridge</td>
            <td>Young Man's Blues</td>
            <td>You Proof</td>
            <td>Heading South</td>
            <td>Beautiful Crazy</td>
            </tr>
        <tr>
            <td>3.</td>
            <td>Otherside</td>
            <td>To Be Loved By You</td>
            <td>Whiskey Glasses</td>
            <td>Revival</td>
            <td>Beer Never Broke My Heart</td>
            </tr>
        <tr>
            <td>4.</td>
            <td></td>
            <td>Hell of a Year</td>
            <td>Wasted on You</td>
            <td>Condemned</td>
            <td>Lovin' On You</td>
            </tr>
        <tr>
            <td>5.</td>
            <td>Nashville, TN </td>
            <td>Handle On You</td>
            <td>More Than My Hometown</td>
            <td>Late July</td>
            <td>Even Though I'm Leaving</td>
            </tr>
        </table>
 
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
